<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="imenik.css">
<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="imenikPanel.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<title>Korisnički panel</title>

</head>

<body>

<img id="pozadina"/>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Web imenik</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Novi kontakt</a></li>
      <li><a href="#">Izmjeni kontakt</a></li>
      <li><a href="#">Briši kontakt</a></li>
	   <li><a href="#">Novi imenik</a></li>
    </ul>

    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
	<ul class="nav navbar-nav navbar-right">
      <li ><a  href="#"><span  class="glyphicon glyphicon-user"><p id="user"></p></span> </a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
	 <table class="table table-condensed">
   <thead> <tr> <th>ID kontakta</th> <th>Ime</th> <th>Prezime</th><th>Email</th><th>Adresa</th><th>Broj telefona </th></tr> </thead>
  <tbody>
    <% userForm.forEach(function (imenici_sadrzaj) { %>
    <tr>
      <td class="ID kontakta-td"><%=userForm[0].idimenici_sadrzaj%></td>
      <td class="Ime-td"><%=userForm[0].ime%></td>
      <td class="Prezime-td"><%=userForm[0].prezime%></td>
      <td class="Email-td"><%=userForm[0].email%></td>
      <td class="Adresa-td"><%=userForm[0].adresa%></td>
      <td class="Broj telefona-td"><%=userForm[0].broj_telefona%></td>
    </tr>
    <tr>
     <td class="ID kontakta-td"><%=userForm[0].idimenici_sadrzaj%></td>
      <td class="Ime-td"><%=userForm[0].ime%></td>
      <td class="Prezime-td"><%=userForm[0].prezime%></td>
      <td class="Email-td"><%=userForm[0].email%></td>
      <td class="Adresa-td"><%=userForm[0].adresa%></td>
      <td class="Broj telefona-td"><%=userForm[0].broj_telefona%></td
    ></tr>
    <tr>
      <td class="ID kontakta-td"></td>
      <td class="Ime-td"></td>
      <td class="Prezime-td"></td>
      <td class="Email-td"></td>
      <td class="Adresa-td"></td>
      <td class="Broj telefona-td"></td>
    </tr>
	  <% }) %>
  </tbody>
  </table>
</div>

</body>
</html>
